<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="portal.css">
    </head>
    <body>
	<div class="portal-header">
		<h1><img src="logo.jpg">VolleyNET</h1>
	</div>
	<div class="portal-content">
		<div class="portal-block portal-block-matches">
			<div class="portal-block-header">Najbližšie zápasy</div>
			<div class="portal-block-content">
				<div class="portal-matches">
					<div class="portal-matches-selector"><select><option>1. liga</option></select></div>
					<div class="portal-matches-row">
						<div class="portal-matches-block">
							<div class="portal-matches-title">25.5.2015</div>
							<div class="portal-match">
								<div class="portal-match-home">VK KDS Šport Košice</div>
								<div class="portal-match-notplayed">
									<div class="portal-match-notplayed-time">16:00 hod.</div>
								</div>
								<div class="portal-match-guest">VK KDS Šport Košice</div>
							</div>
							<div class="portal-match">
								<div class="portal-match-home">VK KDS Šport Košice</div>
								<div class="portal-match-notplayed">
									<div class="portal-match-notplayed-time">16:00 hod.</div>
								</div>
								<div class="portal-match-guest">VK KDS Šport Košice</div>
							</div>
						</div>
						<div class="portal-matches-block">
							<div class="portal-matches-title">24.5.2015</div>
							<div class="portal-match">
								<div class="portal-match-home">VK KDS Šport Košice</div>
								<div class="portal-match-score-block">
									<div class="portal-match-score">
										<div class="portal-match-score-home">2</div>
										<div class="portal-match-score-hyphen">:</div>
										<div class="portal-match-score-away">3</div>
									</div>
									<div class="portal-match-score-balls">5/6/-7/22/45</div>
								</div>
								<div class="portal-match-guest">VK KDS Šport Košice</div>
							</div>
							<div class="portal-match">
								<div class="portal-match-home">VK KDS Šport Košice</div>
								<div class="portal-match-score-block">
									<div class="portal-match-score">
										<div class="portal-match-score-home">2</div>
										<div class="portal-match-score-hyphen">:</div>
										<div class="portal-match-score-away">3</div>
									</div>
									<div class="portal-match-score-balls">5/6/-7/22/45</div>
								</div>
								<div class="portal-match-guest">VK KDS Šport Košice</div>
							</div>
							<div class="portal-match">
								<div class="portal-match-home">VK KDS Šport Košice</div>
								<div class="portal-match-score-block">
									<div class="portal-match-score">
										<div class="portal-match-score-home">2</div>
										<div class="portal-match-score-hyphen">:</div>
										<div class="portal-match-score-away">3</div>
									</div>
									<div class="portal-match-score-balls">5/6/-7/22/45</div>
								</div>
								<div class="portal-match-guest">VK KDS Šport Košice</div>
							</div>
							<div class="portal-match">
								<div class="portal-match-home">VK KDS Šport Košice</div>
								<div class="portal-match-score-block">
									<div class="portal-match-score">
										<div class="portal-match-score-home">2</div>
										<div class="portal-match-score-hyphen">:</div>
										<div class="portal-match-score-away">3</div>
									</div>
									<div class="portal-match-score-balls">5/6/-7/22/45</div>
								</div>
								<div class="portal-match-guest">VK KDS Šport Košice</div>
							</div>
						</div>
						<div class="portal-matches-block">
							<div class="portal-matches-title">23.5.2015</div>
							<div class="portal-match">
								<div class="portal-match-home">VK KDS Šport Košice</div>
								<div class="portal-match-score-block">
									<div class="portal-match-score">
										<div class="portal-match-score-home">2</div>
										<div class="portal-match-score-hyphen">:</div>
										<div class="portal-match-score-away">3</div>
									</div>
									<div class="portal-match-score-balls">5/6/-7/22/45</div>
								</div>
								<div class="portal-match-guest">VK KDS Šport Košice</div>
							</div>
							<div class="portal-match">
								<div class="portal-match-home">VK KDS Šport Košice</div>
								<div class="portal-match-score-block">
									<div class="portal-match-score">
										<div class="portal-match-score-home">2</div>
										<div class="portal-match-score-hyphen">:</div>
										<div class="portal-match-score-away">3</div>
									</div>
									<div class="portal-match-score-balls">5/6/-7/22/45</div>
								</div>
								<div class="portal-match-guest">VK KDS Šport Košice</div>
							</div>
							<div class="portal-match">
								<div class="portal-match-home">VK KDS Šport Košice</div>
								<div class="portal-match-score-block">
									<div class="portal-match-score">
										<div class="portal-match-score-home">2</div>
										<div class="portal-match-score-hyphen">:</div>
										<div class="portal-match-score-away">3</div>
									</div>
									<div class="portal-match-score-balls">5/6/-7/22/45</div>
								</div>
								<div class="portal-match-guest">VK KDS Šport Košice</div>
							</div>
						</div>
						<div class="portal-matches-block">
							<div class="portal-matches-title">22.5.2015</div>
							<div class="portal-match">
								<div class="portal-match-home">VK KDS Šport Košice</div>
								<div class="portal-match-score-block">
									<div class="portal-match-score">
										<div class="portal-match-score-home">2</div>
										<div class="portal-match-score-hyphen">:</div>
										<div class="portal-match-score-away">3</div>
									</div>
									<div class="portal-match-score-balls">5/6/-7/22/45</div>
								</div>
								<div class="portal-match-guest">VK KDS Šport Košice</div>
							</div>
							<div class="portal-match">
								<div class="portal-match-home">VK KDS Šport Košice</div>
								<div class="portal-match-score-block">
									<div class="portal-match-score">
										<div class="portal-match-score-home">2</div>
										<div class="portal-match-score-hyphen">:</div>
										<div class="portal-match-score-away">3</div>
									</div>
									<div class="portal-match-score-balls">5/6/-7/22/45</div>
								</div>
								<div class="portal-match-guest">VK KDS Šport Košice</div>
							</div>
							<div class="portal-match">
								<div class="portal-match-home">VK KDS Šport Košice</div>
								<div class="portal-match-score-block">
									<div class="portal-match-score">
										<div class="portal-match-score-home">2</div>
										<div class="portal-match-score-hyphen">:</div>
										<div class="portal-match-score-away">3</div>
									</div>
									<div class="portal-match-score-balls">5/6/-7/22/45</div>
								</div>
								<div class="portal-match-guest">VK KDS Šport Košice</div>
							</div>
						</div>
						<div class="portal-matches-block">
							<div class="portal-matches-title">21.5.2015</div>
							<div class="portal-match">
								<div class="portal-match-home">VK KDS Šport Košice</div>
								<div class="portal-match-score-block">
									<div class="portal-match-score">
										<div class="portal-match-score-home">2</div>
										<div class="portal-match-score-hyphen">:</div>
										<div class="portal-match-score-away">3</div>
									</div>
									<div class="portal-match-score-balls">5/6/-7/22/45</div>
								</div>
								<div class="portal-match-guest">VK KDS Šport Košice</div>
							</div>
							<div class="portal-match">
								<div class="portal-match-home">VK KDS Šport Košice</div>
								<div class="portal-match-score-block">
									<div class="portal-match-score">
										<div class="portal-match-score-home">2</div>
										<div class="portal-match-score-hyphen">:</div>
										<div class="portal-match-score-away">3</div>
									</div>
									<div class="portal-match-score-balls">5/6/-7/22/45</div>
								</div>
								<div class="portal-match-guest">VK KDS Šport Košice</div>
							</div>
						</div><!-- portal match block -->
					</div><!-- portal matcher row -->
				</div><!-- portal-matches -->
			</div>
		</div>
		<div class="portal-block portal-block-results">
			<div class="portal-block-header">Najbližšie zápasy</div>
			<div class="portal-block-content">
				<div class="portal-results">
					<div class="portal-results-selector"><select><option>1. liga</option></select></div>
					<div class="portal-results-data">
						<div class="portal-results-row"><div class="portal-results-num">1.</div><div class="portal-results-club">VK KDS Šport Košice</div><div class="portal-results-matches">5z</div><div class="portal-results-points">10b</div></div>
						<div class="portal-results-row"><div class="portal-results-num">1.</div><div class="portal-results-club">VK KDS Šport Košice</div><div class="portal-results-matches">5z</div><div class="portal-results-points">10b</div></div>
						<div class="portal-results-row"><div class="portal-results-num">1.</div><div class="portal-results-club">VK KDS Šport Košice</div><div class="portal-results-matches">5z</div><div class="portal-results-points">10b</div></div>
						<div class="portal-results-row"><div class="portal-results-num">1.</div><div class="portal-results-club">VK KDS Šport Košice</div><div class="portal-results-matches">5z</div><div class="portal-results-points">10b</div></div>
						<div class="portal-results-row"><div class="portal-results-num">1.</div><div class="portal-results-club">VK KDS Šport Košice</div><div class="portal-results-matches">5z</div><div class="portal-results-points">10b</div></div>
						<div class="portal-results-row"><div class="portal-results-num">1.</div><div class="portal-results-club">VK KDS Šport Košice</div><div class="portal-results-matches">5z</div><div class="portal-results-points">10b</div></div>
						<div class="portal-results-row"><div class="portal-results-num">1.</div><div class="portal-results-club">VK KDS Šport Košice</div><div class="portal-results-matches">5z</div><div class="portal-results-points">10b</div></div>
						<div class="portal-results-row"><div class="portal-results-num">1.</div><div class="portal-results-club">VK KDS Šport Košice</div><div class="portal-results-matches">5z</div><div class="portal-results-points">10b</div></div>
						<div class="portal-results-row"><div class="portal-results-num">10.</div><div class="portal-results-club">VK KDS Šport Košice</div><div class="portal-results-matches">5z</div><div class="portal-results-points">10b</div></div>
					</div>
				</div>
			</div>
		</div>
		<div class="portal-block portal-block-schedule">
			<div class="portal-block-header">Rozpis zápasov</div>
			<div class="portal-block-content">
				<div class="portal-schedule">
					<div class="portal-schedule-selector"><select><option>1. liga</option></select></div>
					<div class="portal-schedule-data">
						<div class="portal-schedule-round">1. kolo</div>
						<div class="portal-schedule-row"><div class="portal-schedule-dt"><div class="portal-schedule-date">24.09.2015</div><div class="portal-schedule-time">16:00</div></div><div class="portal-schedule-match"><div class="portal-schedule-home">VK KDS Šport Košice</div><div class="portal-schedule-score"><div class="portal-schedule-score-home">10</div><div class="portal-schedule-score-hyphen">:</div><div class="portal-schedule-score-away">10</div><div class="portal-schedule-score-balls">5/6/-7/22/45</div></div><div class="portal-schedule-away">VK KDS Šport Košice</div></div></div>
						<div class="portal-schedule-row"><div class="portal-schedule-dt"><div class="portal-schedule-date">24.09.2015</div><div class="portal-schedule-time">16:00</div></div><div class="portal-schedule-match"><div class="portal-schedule-home">VK KDS Šport Košice</div><div class="portal-schedule-score"><div class="portal-schedule-score-home">10</div><div class="portal-schedule-score-hyphen">:</div><div class="portal-schedule-score-away">10</div><div class="portal-schedule-score-balls">5/6/-7/22/45</div></div><div class="portal-schedule-away">VK KDS Šport Košice</div></div></div>
						<div class="portal-schedule-row"><div class="portal-schedule-dt"><div class="portal-schedule-date">24.09.2015</div><div class="portal-schedule-time">16:00</div></div><div class="portal-schedule-match"><div class="portal-schedule-home">VK KDS Šport Košice</div><div class="portal-schedule-score"><div class="portal-schedule-score-home">10</div><div class="portal-schedule-score-hyphen">:</div><div class="portal-schedule-score-away">10</div><div class="portal-schedule-score-balls">5/6/-7/22/45</div></div><div class="portal-schedule-away">VK KDS Šport Košice</div></div></div>
						<div class="portal-schedule-row"><div class="portal-schedule-dt"><div class="portal-schedule-date">24.09.2015</div><div class="portal-schedule-time">16:00</div></div><div class="portal-schedule-match"><div class="portal-schedule-home">VK KDS Šport Košice</div><div class="portal-schedule-score"><div class="portal-schedule-score-home">10</div><div class="portal-schedule-score-hyphen">:</div><div class="portal-schedule-score-away">10</div><div class="portal-schedule-score-balls">5/6/-7/22/45</div></div><div class="portal-schedule-away">VK KDS Šport Košice</div></div></div>
						<div class="portal-schedule-row"><div class="portal-schedule-dt"><div class="portal-schedule-date">24.09.2015</div><div class="portal-schedule-time">16:00</div></div><div class="portal-schedule-match"><div class="portal-schedule-home">VK KDS Šport Košice</div><div class="portal-schedule-score"><div class="portal-schedule-score-home">10</div><div class="portal-schedule-score-hyphen">:</div><div class="portal-schedule-score-away">10</div><div class="portal-schedule-score-balls">5/6/-7/22/45</div></div><div class="portal-schedule-away">VK KDS Šport Košice</div></div></div>
						<div class="portal-schedule-row"><div class="portal-schedule-dt"><div class="portal-schedule-date">24.09.2015</div><div class="portal-schedule-time">16:00</div></div><div class="portal-schedule-match"><div class="portal-schedule-home">VK KDS Šport Košice</div><div class="portal-schedule-score"><div class="portal-schedule-score-home">10</div><div class="portal-schedule-score-hyphen">:</div><div class="portal-schedule-score-away">10</div><div class="portal-schedule-score-balls">5/6/-7/22/45</div></div><div class="portal-schedule-away">VK KDS Šport Košice</div></div></div>
						<div class="portal-schedule-round">2. kolo</div>
						<div class="portal-schedule-row"><div class="portal-schedule-dt"><div class="portal-schedule-date">24.09.2015</div><div class="portal-schedule-time">16:00</div></div><div class="portal-schedule-match"><div class="portal-schedule-home">VK KDS Šport Košice</div><div class="portal-schedule-score"><div class="portal-schedule-score-home">10</div><div class="portal-schedule-score-hyphen">:</div><div class="portal-schedule-score-away">10</div><div class="portal-schedule-score-balls">5/6/-7/22/45</div></div><div class="portal-schedule-away">VK KDS Šport Košice</div></div></div>
						<div class="portal-schedule-row"><div class="portal-schedule-dt"><div class="portal-schedule-date">24.09.2015</div><div class="portal-schedule-time">16:00</div></div><div class="portal-schedule-match"><div class="portal-schedule-home">VK KDS Šport Košice</div><div class="portal-schedule-score"><div class="portal-schedule-score-home">10</div><div class="portal-schedule-score-hyphen">:</div><div class="portal-schedule-score-away">10</div><div class="portal-schedule-score-balls">5/6/-7/22/45</div></div><div class="portal-schedule-away">VK KDS Šport Košice</div></div></div>
						<div class="portal-schedule-row"><div class="portal-schedule-dt"><div class="portal-schedule-date">24.09.2015</div><div class="portal-schedule-time">16:00</div></div><div class="portal-schedule-match"><div class="portal-schedule-home">VK KDS Šport Košice</div><div class="portal-schedule-score"><div class="portal-schedule-score-home">10</div><div class="portal-schedule-score-hyphen">:</div><div class="portal-schedule-score-away">10</div><div class="portal-schedule-score-balls">5/6/-7/22/45</div></div><div class="portal-schedule-away">VK KDS Šport Košice</div></div></div>
						<div class="portal-schedule-round">3. kolo</div>
						<div class="portal-schedule-row"><div class="portal-schedule-dt"><div class="portal-schedule-date">24.09.2015</div><div class="portal-schedule-time">16:00</div></div><div class="portal-schedule-match"><div class="portal-schedule-home">VK KDS Šport Košice</div><div class="portal-schedule-score"><div class="portal-schedule-score-home">10</div><div class="portal-schedule-score-hyphen">:</div><div class="portal-schedule-score-away">10</div><div class="portal-schedule-score-balls">5/6/-7/22/45</div></div><div class="portal-schedule-away">VK KDS Šport Košice</div></div></div>
						<div class="portal-schedule-row"><div class="portal-schedule-dt"><div class="portal-schedule-date">24.09.2015</div><div class="portal-schedule-time">16:00</div></div><div class="portal-schedule-match"><div class="portal-schedule-home">VK KDS Šport Košice</div><div class="portal-schedule-score"><div class="portal-schedule-score-home">10</div><div class="portal-schedule-score-hyphen">:</div><div class="portal-schedule-score-away">10</div><div class="portal-schedule-score-balls">5/6/-7/22/45</div></div><div class="portal-schedule-away">VK KDS Šport Košice</div></div></div>
						<div class="portal-schedule-row"><div class="portal-schedule-dt"><div class="portal-schedule-date">24.09.2015</div><div class="portal-schedule-time">16:00</div></div><div class="portal-schedule-match"><div class="portal-schedule-home">VK KDS Šport Košice</div><div class="portal-schedule-score"><div class="portal-schedule-score-home">10</div><div class="portal-schedule-score-hyphen">:</div><div class="portal-schedule-score-away">10</div><div class="portal-schedule-score-balls">5/6/-7/22/45</div></div><div class="portal-schedule-away">VK KDS Šport Košice</div></div></div>
						<div class="portal-schedule-row"><div class="portal-schedule-dt"><div class="portal-schedule-date">24.09.2015</div><div class="portal-schedule-time">16:00</div></div><div class="portal-schedule-match"><div class="portal-schedule-home">VK KDS Šport Košice</div><div class="portal-schedule-score"><div class="portal-schedule-score-home">10</div><div class="portal-schedule-score-hyphen">:</div><div class="portal-schedule-score-away">10</div><div class="portal-schedule-score-balls">5/6/-7/22/45</div></div><div class="portal-schedule-away">VK KDS Šport Košice</div></div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="portal-footer">&copy; Slovenská volejbalová federácia, Powered by <img src="membery.png"></div>
    </body>
</html>
